@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Baggrundsfarve for selve siden */
  --page-background: #ffffff; /* Lys baggrund til siden i light mode */

  /* Kort og knap-farver til light mode */
  --card-background: #171717; /* Sort baggrund til kortet */
  --card-foreground: #ffffff; /* Hvid tekst og ikoner på kortet */
  --button-background: #ffffff; /* Hvid baggrund til knappen */
  --button-color: #171717; /* Sort tekst på knappen */
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #0a0a0a; /* Mørk baggrund til siden i dark mode */

    /* Kort og knap-farver til dark mode */
    --card-background: #ffffff; /* Hvid baggrund til kortet */
    --card-foreground: #171717; /* Sort tekst og ikoner på kortet */
    --button-background: #171717; /* Sort baggrund til knappen */
    --button-color: #ffffff; /* Hvid tekst på knappen */
  }
}

body {
  background-color: var(
    --page-background
  ); /* Dynamisk baggrund til hele siden */
  color: var(--card-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
